body{
  padding: 0px;
  margin: 0px;
  font-size: em;


}


@media screen and (min-width: 600px) {
  .element {
    /* Apply some styles */
    display: grid;
    grid-template-columns: 6% auto;
    grid-template-rows: 10% 10% 10%;
    grid-template-areas: "sidebar" "header"
                          "sidebar" "footer"
                          "sidebar" "body";
  }


@media screen and (min-width:699px){
  body{
    font-size:1rem;
    color:white;
    background-color: ;
  }

p{
  color: lightblue;
  font-family: helvetica;
}
h1, h2{
  font-family: "Bebas Neue"
}

h2{
  font-size: 40px;
}

#hero{
  width:100vw;
  height: 60vh;
  overflow: hidden;
  margin: 0px;
  padding: 0px;
}

#hero img{
  width: 100vw;
  position: relative;
  bottom: 300px;

}

#hero h1{
  z-index: 1;
  position: relative;
  font-size: 10vw;
  top: 30vh;
  margin: 0 0 10vw;
  margin-left: 7vw;
}

#one, #two{
  margin-left: 7vw;
  margin right: 3vw;
  margin-top: 7vw;
}

button{
  background-color: #ebbd34;
  font-family: "Bebas Neue";
  font-size: 30px;
  margin: 10px;
  padding: 7px 20px;
  position:relative;
  left: 50vw;

}

button:active{
  background-color: blue;
  color: white;
}
a:active{
  color:red;
}
button:hover{
  border: solid black 3px;
}
a:link{
  color:blue
}
a:visited{
  color:lightgrey;
}
