div{
  background-color:#4D4D4D;
}
h1{
  font-family: "Playfair + Display + SC";
  color: #99A799;
  margin-left: 350px;
}
h2{
  font-family: "Playfair + Display + SC";
  color: #99A799;
  margin-left: 350px;
}

#weekly{
  font-family: "Playfair + Display + SC";
  font-size:2vw;
  font-weight:bold;
}

.options{
  flex-grow:1;
  width:inherit;
  margin: 3vw;
}

img{
  max-width: 80vw;
  max-height: 50vh;
  object-position: 5px 5px 20px 10px;
  margin-left: 400px;
}
button{
  float:right;
  padding: 10px 50px;
  margin-right: 3vw;
  background-color: #ADC2A9;



}

button:hover{
  border:solid #FEF5ED 3px;

}

.label{
  color: #99A799;
  text-decoration: underline;
  margin-left: 10px;
  font-size: 50px

}


.self{
  font-family: "Source Sans Pro";
  border-radius: 10px;
  color: #FEF5ED;
}

.menu{
  color: #D3E4CD;
  display:none;
text-align: left;
font-family: "Source Serif Pro"
}

.floaty{
  float:right;
  text-align: center;
}


.shown{
  display: block;
}

#quotebutton{
  margin-left: 100px;
  color: #FEF5ED;
}

qtext{
  color: #99A799;
}
